# Proyecto Individual 1 MLOPS soy Henry

## ETL

Comienzo importando las librerias que voy a utilizar

In [1]:
import pandas as pd
import numpy as np

Transformo los archivos movies_dataset.csv y credits.csv a Dataframe, para tener una idea mas general de como se ven

In [2]:
df1 = pd.read_csv("Datasets/movies_dataset.csv",low_memory=False)

In [3]:
df2 = pd.read_csv("Datasets/credits.csv")

In [4]:
df1.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
df2.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [6]:
print(f"El Data Frame(Movies_dataset.csv) #1 tiene: {df1.shape[0]} filas, y {df1.shape[1]} Columnas")
print(f"El Data Frame(Credits.csv) #2 tiene: {df2.shape[0]} filas, y {df2.shape[1]} Columnas")

El Data Frame(Movies_dataset.csv) #1 tiene: 45466 filas, y 24 Columnas
El Data Frame(Credits.csv) #2 tiene: 45476 filas, y 3 Columnas

Voy a comenzar realizando primero las transformaciones que me piden de los datos al Df1, para luego realizar las transformacione de desanidado en el Df2 y tomar por ultimo los datos mas pertinentes en un nuevo Data Frame limpio que utiliizare mas adelante

1. Voy a comenzar borrando las columnas que no voy a utilizar como lo son (video,imdb_id,adult,original_title,poster_path y homepage)

In [7]:
df1.drop(columns = ["video", "imdb_id", "adult", "original_title", "poster_path", "homepage"], inplace = True)

In [8]:
df1.isna().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

2. La columna 'revenue' unicamente tiene 6 valores nulos, mientra que 'budget' no tiene valores nulos, entonces unicamente voy a rellenar con 0 los valores nulos de la columna 'revenue'

In [9]:
df1["revenue"] = df1["revenue"].fillna(0)

3. En la columna 'release date' tengo 87 valores nulos entonces proceso a borrarlos

In [10]:
df1 = df1.dropna(subset = ["release_date"])

4. cambio el formato de la columna 'release_date' al formato AAAA-mm-dd y creo la columna nueva en mi Data frame 'release_year' donde se encontrara el año de las fechas de estreno

In [11]:
df1["release_date"] = pd.to_datetime(df1["release_date"], format='%Y-%m-%d', errors= 'coerce')

In [12]:
df1["release_date"].isna().sum()

3

In [13]:
df1 = df1.dropna(subset = ["release_date"])

In [14]:
df1["release_date"].isna().sum()

0

In [15]:
df1["release_year"] = df1["release_date"].dt.year

In [16]:
df1.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995

5.  para crear la columna 'return', primero tengo que revisar que tipos de valores tiene las columnas 'revenue' y 'budget' y cambiar a formato correcto para reducir los posibles errores

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  object
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  release_year           45376 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(13)
memory usage: 6.9+ MB

In [18]:
df1["revenue"] = pd.to_numeric(df1["revenue"], errors="coerce")
df1["budget"] = pd.to_numeric(df1["budget"], errors="coerce")

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  int64
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  release_year           45376 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(12)
memory usage: 6.9+ MB

5. 1. creo la columna 'return' con las calumnas 'revenue' y 'budget', luego reviso cuantos valores tengo nulos y los cambio por 0

In [20]:
df1["return"] = df1["revenue"] / df1["budget"]

In [21]:
df1["return"]

0        12.451801
1         4.043035
2              NaN
3         5.090760
4              inf
           ...
45460          NaN
45462          NaN
45463          NaN
45464          NaN
45465          NaN
Name: return, Length: 45376, dtype: float64

5. 2. me doy cuenta que tengo algunos valores en la columna 'return'que me dieron infinito, asi que tengo que convertirlos en nulosd para finalmente convertirlos en 0.

In [22]:
df1["return"] = df1["return"].replace([np.inf, -np.inf], np.nan)

In [23]:
df1["return"] = df1["return"].fillna(0)

6. luego de haber realizado algunas transformaciones en el Data frame comienzo a realizar la trasformacion de algunas columnas que se presentan anidadadas como diccionarios y listas

6. 1. voy a remplazar los valores de Nan de la columna 'belongs_to_collection' con "{}"para poder aplicarle diferenctes funciones sin tener problemas y python lo reconozca como diccionario

In [24]:
df1["belongs_to_collection"] = df1["belongs_to_collection"].fillna("{}")

In [25]:
df_belongs = pd.json_normalize(df1["belongs_to_collection"].map(eval))

In [26]:
df_belongs.head()

,id,name,poster_path,backdrop_path
0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,NaN,NaN,NaN,NaN
2,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,NaN,NaN,NaN,NaN
4,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

In [27]:
df1["collection_name"] = df_belongs["name"]
df1["IdCollect"] = df_belongs["id"]

In [28]:
df1.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return', 'collection_name', 'IdCollect'],
      dtype='object')

In [29]:
df1.drop(columns=["belongs_to_collection"], inplace=True)

6. 2. para las columnas 'genres', 'production_companies', 'production_countries', 'spoken_languages' como son listas empaquetadas voy a utilizar el modulo AST de python para crear una funcion en donde pueda desempaquetar listas y luego pueda aplicarlas a cada una de las columnas antes mencionadas para por ultimo sobreescribir en el dataframe

In [30]:
import ast

In [31]:
def desempaquetarlista(obj):
    if isinstance(obj, str) and "{" in obj:
        L= []
        for i in ast.literal_eval(obj):
            L.append(i["name"])
        return L

In [32]:
df1["genres"] = df1["genres"].apply(desempaquetarlista)

In [33]:
df1["production_companies"] = df1["production_companies"].apply(desempaquetarlista)

In [34]:
df1["production_countries"] = df1["production_countries"].apply(desempaquetarlista)

In [35]:
df1["spoken_languages"] = df1["spoken_languages"].apply(desempaquetarlista)

In [36]:
df1["production_countries"] = df1["production_countries"].fillna("{}")

In [37]:
df1.head(1)

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,collection_name,IdCollect
0,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,...,[English],Released,NaN,Toy Story,7.7,5415.0,1995,12.451801,Toy Story Collection,10194.0

# Ahora comienzo la transformacion de los datos de credits.csv

comienzo revizando por encima los datos del Dataframe donde tengo las columnas 'cast' y 'crew'

In [38]:
df2.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

1. voy a crear dos funciones que me serviran para desanidar cada una de las columnas y me serviran para sacar de la columna crew el nombre de los directores y de la columna cast el nombre de los actores principales de cada una de las peliculas

In [39]:
def desempaquetarlistacrew(obj):
    if isinstance(obj, str) and "{" in obj:
        L = []
        for i in ast.literal_eval(obj):
            if i["job"] == "Director":  # Filtra los miembros del equipo con "job" igual a "Director"
                L.append(i["name"])
        return L

In [40]:
def desempaquetarlistacast(obj):
    if isinstance(obj, str) and "{" in obj:
        L = []
        for i in ast.literal_eval(obj):
            if i["gender"] == 2:  # Filtrar el nombre de los actores que cumplen con el 'gender' igual a 2 (el codigo para actores principales)
                L.append(i["name"])
        return L

In [41]:
df2.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

aplico las funciones en cada una de las columnas 'cast' y 'crew'

In [42]:
df2["director_name"] = df2["crew"].apply(desempaquetarlistacrew)

In [43]:
df2["actors"] = df2["cast"].apply(desempaquetarlistacast)

me fijo cuantas filas tienen valores nulos y decido cambiarlos por valores como 'No registra', para mantener todas las filas del dataframe

In [44]:
df2.isna().sum()

cast                0
crew                0
id                  0
director_name     771
actors           2418
dtype: int64

In [45]:
df2["director_name"].fillna("No registra", inplace=True)

In [46]:
df2["actors"].fillna("Desconocido", inplace=True)

por ultimo puedo borrar las columnas 'crew' y 'cast' del Dataframe para finalmente poder unir ambos DataFrame por medio del 'id'

In [47]:
df2.drop(columns=["cast","crew"], inplace=True)

In [48]:
df1.head(1)

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,collection_name,IdCollect
0,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,...,[English],Released,NaN,Toy Story,7.7,5415.0,1995,12.451801,Toy Story Collection,10194.0

In [49]:
df2.head(1)

    id    director_name                                             actors
0  862  [John Lasseter]  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...

Ambos dataframes tienen diferente tamaño pero utilizando la función merge de python me permite unirlos, pero antes tengo que tranformar el tipo de dato 'id' de ambos dataframes a tipo de dato 'str' para poder unirlos sin mayores problemas

In [50]:
df1.shape

(45376, 21)

In [51]:
df2.shape

(45476, 3)

In [52]:
df1['id'] = df1['id'].astype(str)

In [53]:
df2['id'] = df2['id'].astype(str)

In [54]:
final_movies_df = pd.merge(df1, df2, on="id")

In [55]:
final_movies_df.shape

(45451, 23)

In [56]:
final_movies_df.head()

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,tagline,title,vote_average,vote_count,release_year,return,collection_name,IdCollect,director_name,actors
0,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,...,NaN,Toy Story,7.7,5415.0,1995,12.451801,Toy Story Collection,10194.0,[John Lasseter],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,NaN,NaN,[Joe Johnston],"[Robin Williams, Jonathan Hyde, David Alan Gri..."
2,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000,Grumpy Old Men Collection,119050.0,[Howard Deutch],"[Walter Matthau, Jack Lemmon, Burgess Meredith..."
3,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760,NaN,NaN,[Forest Whitaker],"[Gregory Hines, Dennis Haysbert, Michael Beach..."
4,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000,Father of the Bride Collection,96871.0,[Charles Shyer],"[Steve Martin, Martin Short, George Newbern, B..."

Luego de realizar todos los cambios solicitados y agregando algunos que no estan presentes pero son necesarios para un optimo funcionamiento de las funciones de la API, voy a exportar el dataframe 'final_movies_df' a un CSV que podre utilizar mas adelante en mi Api y es el primer paso para continuar con el EDA.

In [58]:
final_movies_df

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,tagline,title,vote_average,vote_count,release_year,return,collection_name,IdCollect,director_name,actors
0,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,...,NaN,Toy Story,7.7,5415.0,1995,12.451801,Toy Story Collection,10194.0,[John Lasseter],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,NaN,NaN,[Joe Johnston],"[Robin Williams, Jonathan Hyde, David Alan Gri..."
2,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000,Grumpy Old Men Collection,119050.0,[Howard Deutch],"[Walter Matthau, Jack Lemmon, Burgess Meredith..."
3,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760,NaN,NaN,[Forest Whitaker],"[Gregory Hines, Dennis Haysbert, Michael Beach..."
4,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000,Father of the Bride Collection,96871.0,[Charles Shyer],"[Steve Martin, Martin Short, George Newbern, B..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45446,0,"[Drama, Action, Romance]",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",1991-05-13,0.0,...,NaN,Robin Hood,5.7,26.0,1991,0.000000,NaN,NaN,[John Irvin],"[Patrick Bergin, David Morrissey, Jürgen Proch..."
45447,0,[Drama],111109,tl,An artist struggles to finish his work while a...,0.178241,[Sine Olivia],[Philippines],2011-11-17,0.0,...,NaN,Century of Birthing,9.0,3.0,2011,0.000000,NaN,NaN,[Lav Diaz],[Joel Torre]
45448,0,"[Action, Drama, Thriller]",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,[American World Pictures],[United States of America],2003-08-01,0.0,...,A deadly game of wits.,Betrayal,3.8,6.0,2003,0.000000,NaN,NaN,[Mark L. Lester],"[Adam Baldwin, James Remar, Damian Chapa, Loui..."
45449,0,None,227506,en,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],[Russia],1917-10-21,0.0,...,NaN,Satan Triumphant,0.0,0.0,1917,0.000000,NaN,NaN,[Yakov Protazanov],"[Iwan Mosschuchin, Pavel Pavlov]"
45450,0,None,461257,en,50 years after decriminalisation of homosexual...,0.163015,None,[United Kingdom],2017-06-09,0.0,...,NaN,Queerama,0.0,0.0,2017,0.000000,NaN,NaN,[Daisy Asquith],Desconocido

In [57]:
# #final_movies_df.to_csv("Movies_ETL.csv", index=False)